server {
    server_name phalcon.administer.tech;
    listen 80;
    root /Users/kissarat/Public/github.com/kissarat/phalcon-lab/public;
    index index.html index.php;

    access_log /usr/local/var/log/nginx/phalcon.log main;
    error_log /usr/local/var/log/nginx/phalcon.error.log warn;

    location / {
        if (-f $request_filename) {
            break;
        }

        if (!-e $request_filename) {
            rewrite ^(.+)$ /index.php?_url=$1 last;
            break;
        }
    }

    location ~ \.php$ {
        include fastcgi.conf;
        fastcgi_intercept_errors on;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_read_timeout 300;
    }
}
